.joinBack{
    background-image: url('../../images/loginBack.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
}

.join-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    left: 234px;
    top: 72px;
    width: 464px;
}

.idInput{
    background-color: #f2f4f8;
    border: none;
    outline: none;
    width: 100%;
    height: 64px;
    padding: 16px 17px;
    border-bottom: 2px solid #707070;
}

.passwordInput{
    background-color: #f2f4f8;
    border: none;
    border-bottom: 2px solid #707070;
    outline: none;
    width: 100%;
    height: 64px;
    padding: 16px 17px;
}

.passwordCheckInput{
    background-color: #f2f4f8;
    border: none;
    border-bottom: 2px solid #707070;
    outline: none;
    width: 100%;
    height: 64px;
    padding: 16px 17px;
}

.nameInput{
    background-color: #f2f4f8;
    border: none;
    outline: none;
    width: 100%;
    height: 64px;
    padding: 16px 17px;
    border-bottom: 2px solid #707070;
}

.idInput::placeholder, .passwordInput::placeholder, .passwordCheckInput::placeholder, .nameInput::placeholder{
    font-size: 20px;
    color: #c1c7cd;
}

.joinButton{
    background-color: #08bdba;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
