.questions{

}

.question_wrap{
    border: 1px solid;
    
}

.accordin_wrap{
    background-color: #d3d3d3;

}

.question{
    display: inline;
    margin: 10px;
}

.accordion{
    display: inline;
}

.open{
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-bottom: 1px solid;
}

.close{
    display: none;
}


.writer{
    margin: 10px;
}

.answer{
    margin: 10px;
}
