.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A2A9B0;
  padding: 0 16px 0 16px;
}
.category-input {
  background-color: #A2A9B0; 
  border: none;
  outline: none;
  height: 24px;
  width: 264px;
}
.category-input::placeholder{
  color: #DDE1E6;
}
.category-right {
  display: flex;
  align-items: center;
}
.cateogry-icon {
  display: flex;
  flex-direction: column;
}

.category-open {
  display: block;
}

.category-close {
  display: none;
}

.spacer {
  padding: 0 16px 0 16px;
}
img {
  width: 32px;
  height: 32px;
}