.category-container {
  width: 100%;
  margin-bottom: 1.5rem;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: #a2a9b0;
  padding: 0 1rem;
}

.category-label{
  height: 1.5rem;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  display: flex;
  align-items: center;
}

.category-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
}

.add-only {
  width: auto;
}

.category-button {
  display: flex;
  align-items: center;
}

.category-input {
  background-color: #A2A9B0; 
  border: none;
  outline: none;
  height: 24px;
  width: 264px;
}
.category-input::placeholder{
  font-size: 16px;
  color: #DDE1E6;
}
.category-icon {
  display: flex;
  flex-direction: column;
}

.category-open {
  display: block;
  margin-bottom: 24px;
}

.category-close {
  display: none;
}

img {
  width: 32px;
  height: 32px;
}