.Document_container {
  overflow: hidden;
  width: 100%;
}
.Document_personal {
  padding-left: 5px;

  width: 49%;
  float: left;
}

.Document_sharing {
  padding-right: 1px;

  width: 49%;
  float: right;
}
