.Personal_Category_icon {
  float: left;
  padding: 0 10px 10px 10px;
  margin: 0 5px 0 5px;
}

.Personal_Category {
  overflow: hidden;
}

.Personal_Category_div {
  float: left;
  width: 500px;
}
.Personal_Question {
  background-color: rgb(202, 200, 200);
}
.Personal_date {
  float: left;
}

.Personal_Over {
  float: left;
  padding-left: 10%;
}
