.Personal_Answer{
    background-color: white;
    padding: 5px;
}

.Personal_Answer_box{
    
    display: hidden;
    width: 100%;
    overflow: hidden;
}

.Personal_Answer_icon{
    
    width: 20%;
    display: inline-block;
    background-color: black;
    color: white;
    float: right;
    border-left: solid  1px;
}
.Personal_Answer_text{
    padding-left: 55px;
    
}
