.sharing_container {
  background-color: #f2f4f8;
}
.sharing_subtitle {
  opacity: 0.3;
}
.sharing_make_text {
  float: left;
  font-size: x-large;
  text-align: left;
}

.sharing_component1 {
  /* display: inline; */
}

.sharing_make {
  color: white;
  background-color: #08bdba;
  width: 224px;
  height: 48px;
}

.sharing_component1_icon {
  float: right;
}

svg.sharing_icon {
  margin-right: 30px;
}
.sharing_contitle {
  margin-top: 68px;
}

.sharing_contitle > div {
  font-size: 20px;
  display: inline-block;
  width: 33%;
  background-color: #dde1e6;
}

.sharing_open {
  display: flex;
}

.sharing_open {
  display: none;
}
