.sharing_container {
  background-color: #f2f4f8;
}
.sharing_subtitle {
  opacity: 0.3;
}
.sharing_make_text {
  float: left;
  font-size: x-large;
  text-align: left;
}

.sharing_make {
  color: white;
  background-color: #08bdba;
  width: 224px;
  height: 48px;
}

.sharing_component1_icon {
  overflow: hidden;
  padding-top: 16px;
}

.sharing_icon {
  float: right;
  margin-right: 30px;
}

/* .sharing_contitle > div {
  font-size: 20px;
  display: inline-block;
  width: 33%;
  background-color: #dde1e6;
} */

.sharing_open {
  display: flex;
}

.sharing_open {
  display: none;
}

.sharing_contitle {
  overflow: hidden;
}

.sharing_contitle > div {
  font-size: 20px;
  float: left;
  background-color: #dde1e6;
}

.sharing_contitle_title1 {
  width: 50%;
}
.sharing_contitle_title {
  width: 25%;
}
