.questions{
}

.question_wrap{
    border: 2px solid red;
}

.question{
    display: inline;
    margin: 10px;
    border: 2px solid blue;
   
}

.accordion{
    display: inline;
}


.open{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: 2px solid green;
}

.close{
    display: none;
}

