.Background {
  background-image: url('../../images/loginBack.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1024px;
}

.Container {
  position: relative;
  left: 200px;
  top:72px;
  width: 464px;
}

.loginInput {
  background-color: #f2f4f8;
  border: none;
  outline: none;
  width: 100%;
  height: 64px;
  padding: 16px 17px;
  border-bottom: 2px solid #707070;
}
.passwordContatiner {
  display: flex;
  background-color: #f2f4f8;
  border-bottom: 2px solid #707070;
  align-items: center;
  padding: 0 17px; 
  margin-top: 16px;
}
.pwInput{
  background-color: #f2f4f8;
  border: none;
  outline: none;
  width: 100%;
  height: 64px;
}

.loginInput::placeholder, .pwInput::placeholder{
  font-size: 20px;
  color: #c1c7cd;
}

.loginButton{
  background-color: #08bdba;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  cursor: pointer;
}

.googleButton{
  padding: 17px 20px;
  border: 2px solid #08bdba;
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  cursor: pointer;
}

.signUpButton{
  text-decoration: underline;
  color: #08bdba;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.helpButton{
  text-decoration: underline;
  color: #08bdba;
  font-size: 12px;
  margin-left: 11px;
  cursor: pointer;
}

.infoLabel{
  font-size: 12px;
  color: #707070;
}